@import "./general.scss";
@import "./helper/modifier.scss";
@import "./layout/container.scss";
@import "./layout/content.scss";
@import "./layout/header.scss";

.container {
    max-width: 1200px;
    margin-left: 15%;
}

//*************** Title ***********
.title {
    background-color: antiquewhite;
    height: 20vh;
       
    h1 {
            text-align: center;
            padding-top: 27px;
            font-size: 4em;
        }
}


//************ Rules ************
.rules {
    background-color: antiquewhite;
    width: 9%;
    height: 18%;
    position: absolute;
    left: 2%;
    top: 26%;
    text-align: center;
    padding: 13px 0;
}

//***************** Button ***********

.start--btn {
    margin-left: 35%;
    margin-top: 9%;

    .btn {
        font-size: 2.3em;
    }
}


//************** Section Word *********

.word {
    margin-top: 7%;

    .word--level {
        font-weight: bold;
    }

    .word--display {
        margin-bottom: 4%;
        margin-top: 2%;
    }
}


.answer, .best--scores {
    margin-top: 8%;
}

//************ Section Answer ***********

h5 {
    font-size: 2em;
    padding-bottom: 20px;
}


//*********** Section Best--Scores *********

h6 {
    font-size: 1.5em;
    padding-bottom: 10px;
}
